  body{
      margin: 0;
      overflow-x: hidden;
    }

  .links{
    height: 85%;
    width: 50%;
    bottom: 0;
    position: fixed;
    background-color: transparent;
    transition: 0.5s;
    display: none;
    text-align: center;
    margin-left: 25%;
  }

  .links a{
    display: block;
    padding: 2rem;
    margin: 2rem;
    font-size: 2rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
    border-bottom: solid purple 2px;
    transition: 0.5s;
  }

  .links a:hover{
    background-color: purple;
    color: cyan;
  }

  .navcontent{
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    scale: 1.5;
    transition: 0.5s;
  }
  
  .menu-btn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger {
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    position: absolute;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  