.pongCover{
    border-radius: 20px;
    height: 300px;
    width: 600px;
    margin-top: 5rem;
    cursor: pointer;
    transition: 0.1s;
}

.pong{
    border-radius: 20px;
    margin: auto;
    display: block;
    margin-top: 5rem;
    height: 750px;
    width: 1500px;
}

.fullscreenPong{
    background-color: rgb(73, 73, 73);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    cursor: pointer;
}