.modalButton {
	cursor: pointer;
	outline: none;
	box-shadow: none;
	border: none;
	padding: 0.28rem;
	text-align: center;
	display: inline-block;
	font-size: 0.89rem;
	font-weight: normal;
	white-space: nowrap;
	user-select: none;
	box-sizing: border-box;
	top: 0;
	margin-right: 0.5rem;
	font-size: 2.2rem;
	float: none;
}

.modal {
	z-index: 3;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.modal, .modal-content, .modalButton {
	background-color: #eeeeee;
	color: #000000;
}

.qongCover {
	background-color: #222222;
	border-radius: 20px;
	width: 100%;
	max-width: 35rem;
	cursor: pointer;
	margin-top: 10rem;
}

.qong {
	background-color: #222222;
	border-radius: 20px;
	position: absolute;
	width: 70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}