html{
    scroll-behavior: smooth;
}

#Cover{
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(230, 220, 255);
    box-shadow: inset 0 0 200px rgb(134, 134, 134);
}
#Cover p{
    text-align: center;
    position: relative;
    margin: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 10rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

.text{
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    margin-left: 0;
    font-size: 1.1rem;
}

.head{
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0;
}
.ListHead{
    font-size: 1.5rem;
}

    .TextNav3DPrinting{
        position: absolute;
        width: 5rem;
        right: 0;
        top: 150%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    #TextNav3DPrinting a{
        display: block;
        text-decoration: none;
        font-family: 'Roboto Mono', monospace;
        color: black;
        border: inset black 2px;
        width: 3rem;
        transform: translateX(1rem);
        transition: 100ms;
        padding: 0.6rem;
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 2rem;
        margin-top: 0.5rem;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.692);
    }
    #TextNav3DPrinting a:hover{
        transform: translateX(0rem);
        width: 4rem;
    }

.WieFunktioniertEin3DDrucker, .FDM, .SLS, .WasIst3DDruck, .DieVerschiedenenDruckverfahren, .SLA{
    position: relative;
    padding-top: 10rem;
    padding-bottom: 5rem;
    margin-top: 5rem;
    width: 100%;
    z-index: -1;
}

.background{
    position: absolute;
    width: 120%;
    height: 100%;
    top: 0;
    background-color: rgb(230, 220, 255);
    transform: translateX(-10rem) rotate(-5deg);
    z-index: -2;
    box-shadow: inset 0 0 200px rgb(134, 134, 134);
}

.ArticleText{
    width: 60%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.Navigations{
    position: absolute;
    width: 100%;
    height: 100%;
}
.sticky{
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.TextImage {
    width: 80%;
    margin-top: 5rem;
}