html{
    scroll-behavior: smooth;
}

.text{
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    margin-left: 0;
    font-size: 1.1rem;
}

.head{
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0;
}
.ListHead{
    font-size: 1.5rem;
}

#TextNav3DPrinting {
    width: 6rem;
    top: 50%;
    right: 0.5rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: fixed;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    }
    #TextNav3DPrinting ul {
    list-style: none;
    }
    #TextNav3DPrinting li {
    margin-top: 1rem;
    }
    #TextNav3DPrinting li a:link, #navigation li a:visited {
    display: block;
    padding: 0.6rem;
    background-color: rgba(255, 254, 248, 0.7);
    border-radius: 2rem;
    text-decoration: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    #TextNav3DPrinting li a{
    color: black;
    text-align: center;
    }

.Printings{
    width: 86%;
    box-shadow: 0 0 0.2rem black;
}

.WasIst3DDruck, .DieVerschiedenenDruckverfahren, .SLA{
    padding-left: 7%;
    z-index: -1;
}
.WieFunktioniertEin3DDrucker, .FDM, .SLS{
    position: relative;
    width: 90%;
    padding-left: 7%;
    padding-top: 5rem;
    margin-top: 10rem;
    padding-bottom: 7rem;
    z-index: -1;
}
.background1{
    background-color: rgba(240, 237, 250, 0.5);
    position: absolute;
    top: 0;
    left: 15%;
    height: 100%;
    width: 100%;
    z-index: -2;
}
.background2{
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 110%;
    z-index: -3;
}
/*.FDMPrinterImage{
    width: 40%;
    position: absolute;
    top: 10%;
    right: 0;
    z-index: -1;
}
.FDMPrinterImageText{
    font-weight: 300;
    writing-mode: vertical-lr;
    position: absolute;
    top: 10%    ;
    right: 40%;
    margin: 0;
}

.ChamberImage{
    width: 40%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.ChamberImageText{
    font-weight: 300;
    writing-mode: vertical-lr;
    position: absolute;
    top: 2%;
    right: 40%;
    margin: 0;
}*/

.ArticleText{
    width: 60%;
}